<%= title "Retirada" %>

<p class="retirement" data-timeout="7">Vá até a bicicleta escolhida aperte o botão e puxe a bicicleta para retirá-la. Você tem 1h gratuita para pedalar.</p>
</br>
<div class="bike"></div>
