<%= title "Selecionar bicicleta" %>
<div class="container content_area">
  <div id='cyclist' class="form retirement_box">
    <div class="form_contact paddin">    
      <div class="form-inputs">
        <%= form_tag release_bike_path do %>
          <div class="select_bike">
            </br>        
            <p>
              <label for="slot_number">* Selecione uma bicicleta</label>
              <input id="slot_number" name="slot_number" size="20" type="text" autofocus="autofocus" />
            </p>
          </div>
        <% end %>
        <div class"bike_image_box">
          <%- @slots.each do |slot| %>
            <div class="image_bike">
              <%= image_tag has_bike?(slot) ? "bike_on.png" : "bike_off.png" %>
              <div class="number_bike"><%= user_slot_number(slot.name.to_i)%></div>
            </div>  
          <% end %>  
        </div>      
      </div>
    </div>  
</div>
