<div class='legend maps'>
  <ul>
    <li>
      <p>(<strong>A</strong>) Mais Zoom</p>
      <p>(<strong>B</strong>) Menos Zoom</p>
    </li>
    <li>
      <% @stations.each do |station|%>
        <p>(<strong><%= station.station_number %></strong>) <%= station.name %></p>
      <% end %>
    </li>
  </ul>
</div>