<% content_for :javascripts do%>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
  <%= javascript_include_tag '/google-maps-utility/infobubble/src/infobubble' %>
<% end %>

<%= title "Mapa" %>

<section id='map_canvas' data-timeout=90></section>

<div id='hide-google-link'></div>

<% content_for :footer do%>
  <%= render partial: 'footer' %>
<% end %>