<%= title "Seja bem vindo ao Rivibike" %>
<div class="container content_area">
  <div id='cyclist' class="form">
    <div class="form_contact">    
      <div class="form-inputs">
        <%= render partial: 'layouts/message_after_enter_pressed', locals: { message: 'Procurando Usuário...' } %>
        <%= form_tag find_cyclist_path do %>
        </br>
        <div class="message_form">Informe seu CPF</div>
        
          <div class="block1">
            <p>
              <label for="cyclist_cpf">* CPF:</label>
              <input id="cyclist_cpf" name="cpf" size="30" type="text" autofocus="autofocus" />
            </p>
          </div>
        <% end %>
      </div>
    </div>  
</div>
