// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  margin:0 auto;
	width: 1024px;
	height:768px;
	font-family: helvetica, arial, sans-serif;
	color: #494949;
	background-color:#eee;
}

.none{
  display: none;
}

.form{
    background: #fff;
    width: 603px;
    border-radius: 10px;
    margin-left: 200px;
    text-align: left;
    margin-top:40px;
    padding: 10px 20px 0px;
}
.login_adm{
  padding:20px 340px;
  background-color:#C7F301;
}

.form.show{
  width: 960px;
  margin-left: 0px;
}

.form.show h2,
.form.show h3{
  font-size: 20px;
  color: red;
  text-align: left;
  margin-bottom: 5px;
}

.form.show h3{
  font-size: 20px;
  margin-bottom: 20px;
}

.form p{
  font-size: 16px;
}

.form .column{
  width: 588px;
  float:left;
  margin-right: 30px;
}

.form.nothing_on_top{
  margin-top: 20px;
}

.form.video{
  width: 722px;
  text-align: center;
  margin-left: 89px;
}

.form.video p{
  margin-bottom: 0px;
}

input[type='submit'].ok,
input[type='submit'].action_button{
    background: url(/images/totem/ok_bnt.jpg) transparent no-repeat;
    width: 158px;
    height: 92px;
    border: none;
    font-size: 68px;
    color: #fff;
    margin-bottom: 0;
    margin-left: 427px;
    margin-top: 18px;
}

input[type='text'],
input[type='password']{
    background: #f4f4f4;
    width: 280px;
    border: 1px solid #cacaca;
    height: 20px;
    margin-top: 5px;
}

.error{
  color: red;
}


a{
  color: #494949;
}

a:hover{
  text-decoration: none;
}

h1{
  text-align: center;
  font-weight: normal;
  font-size: 50px;
  margin: 30px 0;
}

h2{
  margin-top: 0px;
  text-align: center;
  font-size: 40px;
  font-weight: normal;
}

h3{
  text-align: center;
  font-size: 30px;
  font-weight: normal;
}

.video h2{
  margin-bottom: 0;
}

.video h3{
  font-size: 20px;
  line-height: 23px;
}

/*QUIZ --------------------------*/
a.bnt_quiz{
  font-size: 16px;
  background: white;
  border-radius: 10px;
  padding: 10px;
  font-family: 'ab', helvetica,arial;
  box-shadow: 1px 1px 10px #484848;
  position: absolute;
  left: 891px;
  top: 194px;
  width: 95px;
  line-height: 20px;
}

#cyclist{
  margin-bottom: 30px;
  float: left;
}

#cyclist p.answer a{
    color: #494949;
}

#cyclist p.answer.red{
  background: red;
}

#cyclist p.answer.red a{
  color: #fff;
}

#cyclist p.answer.green{
  background: green;
}

#cyclist p.answer.green a{
  color: #fff;
}

#cyclist input[type='text'],
#cyclist input[type='password']{
  width: 380px;
}

#cyclist form tr{
  margin-bottom: 10px;
}

.errorExplanation h2{
  font-size: 16px;
  color: red;
  text-align: left;
}
.form_contact {
  padding:20px 40px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  background-color: white;
}

.errorExplanation li{
  margin-bottom: 10px;
  list-style: circle !important;
}

.errorExplanation{
  margin-bottom: 20px;
  overflow: hidden;
}

.fieldWithErrors input[type='text'],
.fieldWithErrors input[type='password']{
  border-color: red;
}


#termo h1{
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  margin: 15px 0px;
}

#termo h2{
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
}

#termo p{
  font-size: 12px;
  line-height: 16px;
  text-align: left;
  font-weight: normal;
}

.container{
  position:relative;
}


.container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
width: 1024px;
height: 578px;
background-color:#c7f301;
}

.span12{
    display:inline-block;
    background-color:#0087CB;
    width:600px;
    position: relative;
    padding: 20px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}
.box_inst{
    margin-left:20px;
    display:inline-block;
    background-color:#0087CB;
    width:450px;    
    position: relative;
    padding: 20px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}
.box_text{
  height:320px;
  background-color:#fff;
  padding:20px;
  overflow-y:auto;
}
.box_text p{
  color:#333;
  text-align:justify;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #333;
}

.header {
  height: 110px;
  background:#fff;
}

.footer {
  background-color: #fff;
  height: 80px;
}
.footer-content{
  text-align:right;
  padding-right:40px;
}
.footer-content p {
  color: #333;
  display: inline-block;
  padding-top: 15px;
}
.navbar .nav {
  position: absolute;
  left: 390px;
  display: block;
  float: left;
  margin: 0 10px 0 0;
  top: 26px;
}
.navbar .nav > li > a {
  float: none;
  padding: 10px 0px 2px 11px;
  line-height: 19px;
  color: #0087CB;
  font-size:16px;
  text-decoration: none;
  text-shadow: none;
  font-weight:bold;
  text-align:right;
  width:820px;
}
.navbar .nav > li > a:hover {
  color: #0087CB;
  text-decoration:underline;
}
.container_box{
  background-color:#000;
  width:400px;
  height:400px;
}
h1{
  font-weight:normal;
  padding-bottom:5px;
}
.message{
  text-align:right;
}
input{
  width:280px;
}
input[type=checkbox]{ width: inherit }
select{
  width:100px;
}
.form_contact {
  padding:20px 40px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  background-color: white;
}
.block1{
  padding:15px 30px;
  vertical-align:top;
  display:inline-block;
}
.border{
  border-right:1px solid #eee;
}
input[type=submit].big{
  width:180px;
}
.sub{
  text-align:right;
}
.message{
  text-align:right;
}
.ads{
  width:1140px;
}
.btn_next{
  float:right;
  display:inline-block;
  background-color:#0087CB;
  position: relative;
  padding: 10px 40px;
  margin: 10px 0;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  color:#fff;
}

.title{
  display:inline-block;
  text-align:center;
  width:740px;
  font-size:32px;
  color:#0188cb;
  vertical-align:top;
  margin-top:50px;
}
.notice{
  left:220px;
  position:absolute;
  color:#0c8138;
  font-weight:bold;
  padding-top:40px;
}
.error{
  left:220px;
  position:absolute;
  color:#ff0000;
  font-weight:bold;
  padding-top:40px;
}
.message_form{
  text-align:center;
  color:#0188cb;
  font-size:16px;
  font-weight:bold;
}
label{
  color:#0188cb;
  font-weight:bold;
  display:inline-block;
  padding-right:10px;
}
.bike{
  margin-left:250px;;
  background: url(/assets/bike.png) transparent no-repeat;
  width:728px;
  height:333px;
}
.retirement{
  color:#fff;
  padding:10px 20px;
  font-size:18px;
  margin:0;
}
.legend{
  color:#0188cb;
  font-size:18px;
  text-align:center;
  padding-left:20px;
  
  p{
    padding:15px 30px;
    display:inline-block;
  }
  .green{
    color:#0dbd4d;
  }
  .red{
    color:#e1232f;
  }
}

.image_bike{
  display:inline-block;
  position:relative;  
}
.retirement_box{
  width:693px;
  margin:20px 150px;
  padding-top:0;
}

.number_bike{
  position:absolute;
  top:0;
  color:#fff;
  font-size:26px;
  width:50px;
  padding-top:18px;
  text-align:center;
}
.paddin{
  padding:10px 40px;
}
.select_bike input#slot_number{
  width:340px;
}
#cyclist input#cyclist_password{
  width:290px;
}

.loader{
  display: none;
  font-size: 13px !important;
  font-weight: bold;
  color: #0B2F59;
  left: 220px;
  position: absolute;
}

// MAPS
#map_canvas{
  height: 578px;
}

#hide-google-link{
  width: 100%;
  height: 40px;
  position: absolute;
  background: transparent;
  top: 538px;
  left: 0px;
  z-index: 100;
}

.legend.maps{
  ul{
    list-style: none;
    margin: 0px;
  } 

  li{
    float: right;
    clear: right;
    margin-top: 7px;
  }

  p{
    padding: 0px;
    margin: 5px 10px;
  }
}