<%= title "Entrar" %>
<div class="container content_area">
  <div id='cyclist' class="form">
    <div class="form_contact">    
      <div class="form-inputs">
        <%= render partial: 'layouts/message_after_enter_pressed', locals: { message: 'Autenticando...' } %>
        <%= form_tag authenticate_cyclist_path do %>
        </br>
        <div class="message_form">Informe sua senha</div>                
          <div class="block1">        
            <p>
              <label for="cyclist_password">* Senha: (4 números)</label>
              <input id="cyclist_password" name="password" size="30" type="password" autofocus="autofocus" />
            </p>
          </div>
        <% end %>
      </div>
    </div>  
</div>
