<!DOCTYPE html>
<html>
<head>
  <title>WebTotem</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= yield :javascripts %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="header">
  <div style="height: 86px; display:inline-block; width: 191px; margin-top:10px; background-image:url('/assets/logorivi.png');"></div>
  <div class="title"><%= yield :title %></div>
</div>
<div class="container">
  <%= yield %>
  <p class="notice"><%= flash[:notice] unless flash[:error].present? %></p>
  <p class="error"><%= flash[:error] %></p>
</div>
<div class="footer">
  <%= content_for?(:footer) ? yield(:footer) : render(partial: 'layouts/footer') %>
</div>
</body>
</html>
